# Travis CI configuration file for running tests
sudo: false
language: python
branches:
    only:
      - master
python:
  - "2.7"
env:
  - PACKAGES_STRING="jenkins,aws,release,mobile_app,travis,lambdas"
install:
  - pip install -r test-requirements.txt
script:
  - pep8 .
  - pylint travis/
  - nosetests -v --with-coverage --cover-package=$PACKAGES_STRING
